* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

main {
  display: grid;
  place-items: center;
  height: 100vh;
}

.container {
  width: 30%;
  position: relative;
  /* border: 1px solid rgb(141, 117, 117); */
  text-align: center;
}

form {
  display: flex;
  flex-wrap: nowrap;
  column-gap: 15px;
  margin: 10px 0px;
}

.error {
  /* color: red; */
  font-size: 12px;
  font-weight: 600;
  text-decoration: underline;
}

.form-text {
  width: 70%;
  padding: 5px;
}

.subtask .form-text {
  border: none;
  outline: none;
}

.form-btn {
  width: 30%;
  padding: 5px;
  border-radius: 3px;
}

.task {}

.task-detail {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 5px;
  height: 50px;
  border: 1px solid rgb(68, 61, 61);
}

.title {
  display: flex;
  align-items: center;
}

.checkbox {
  width: 25px;
  height: 25px;
  margin: 0px 3px;
}

.status {
  color: rgb(102, 88, 88);
  align-self: flex-end;
  font-size: 15px;
  cursor: pointer;
}

.subtasks {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subtask {
  display: flex;
  margin: 0px;
  border: 1px solid rgb(68, 61, 61);
  width: 80%;
  align-items: center;
  padding: 0px 5px;
  height: 50px;
  color: rgb(102, 88, 88);
}

.spinner {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #ffffffaa;
  width: 100%;
  height: 100%;
  z-index: 10;
  display: grid;
  place-items: center;
}

.spinner>div {
  width: 40px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 3px solid blueviolet;
  border-top: none;
  animation: spin 1s linear 0s infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}